<div type="content">
  <h2>SHIFT  Healthcare Imaging &ndash; Help page</h2>
  <ul>
    <li><h3>What is SHIFT?</h3>
      <p>SHIFT is an iOS application that can be used  on an iPhone or iPad mobile device to gather medical information from a medical  record image and use that information to search the web in a useful way.&nbsp; You can scan a QR code to retrieve  information or parse text to find information such as name, medical record  number, and age.&nbsp; In addition, you can search  a local database to find a closest match to parsed text and interface with the  web to access information and display it within the program.</p>
    </li>

    <li><h3>How to start?</h3>
      <p>From the Home Screen, just select the &ldquo;Enter Text&rdquo;  button or &ldquo;Scan QR Code&rdquo; button to start.&nbsp;  Pressing Scan QR will open up the camera where you can take an image to  retrieve information.&nbsp; Pressing Enter Text  will allow you to type text into fields to search through an engine or  database.</p>
    </li>
  
    <li><h3>Menu Buttons</h3></li>
    <ul>
      <li><h4>Enter Text</h4></li>
      <p>Type  Name, age, and medical record number in text fields and press enter to retrieve  information.&nbsp; Then, choose which fields  and search engine to use by tapping radio buttons and dropdown box menu.&nbsp; Press search button to interface with the web.&nbsp; The result will be displayed within the  program.&nbsp; You can always press back  button in the upper left corner to return to previous page.&nbsp; Also, main button in the upper right corner  returns users to the main menu.</p>
    </ul>
    <ul>
      <li><h4>Scan QR Code</h4></li>
      <p>Take  an image of QR code.&nbsp; This feature will work only if your mobile device has a  camera.&nbsp; You can always press  retake button to go back to this page.&nbsp; Then,  choose which fields and search engine to use by clicking radio buttons and  dropdown box menu.&nbsp; Press search button  to interface with the web. &nbsp;The result  will be displayed within the program.&nbsp; You  can always press back button in the upper left corner to return to previous  page.&nbsp; Also, main button in the upper  right corner returns users to the main menu.</p>
    </ul>

    <ul>
      <li><h4>View and Edit Search Engines</h4></li>
      <p>This  page is for advanced users.&nbsp; It is used  to create custom search engines and custom query formatting for these engines.&nbsp; From this screen, you can view the current  list of search engines.&nbsp; Touch the &ldquo;New  Engine&rdquo; button to create a custom engine.&nbsp;  From this screen, you can enter the name and URL of the engine as well  as the number of attributes that you want to be searchable.&nbsp; After pressing done, the next screen allows  you to enter the key value pairs for each attribute</p>
    </ul>
  </ul>
</div>
